# Access Transformers for create_patched
# Widen access to ServerGamePacketListenerImpl.aboveGroundTickCount
# needed by the patched ContraptionCollider.collideEntities()
public net.minecraft.server.network.ServerGamePacketListenerImpl f_9737_ # aboveGroundTickCount
